/* .styles {

    border: 2px solid black;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
}


.child {

    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    
    

}

.old {

    border: 2px solid red;

}

.young {

    border: 2px solid green;
} */
/* ------------------------------------------------------- */
/* #log{
    background-color: rgb(163, 239, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}
div{
    padding: 20px;
   
}
#quizBox{
   
    background-color: rgb(10, 82, 82);
    
    

}
body{
    background-color: rgb(21, 172, 172);
    
   
} */
/* ---------------------------------------------- */
